/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-black: 0 0% 0%;
    --clr-white: 0 0% 100%;

    --clr-grey-100: 0, 0%, 95%;
    --clr-grey-150: 0, 0%, 90%;
    --clr-grey-200: 0, 0%, 85%;
    --clr-grey-400: 0, 0%, 49%;

    /* gradient */
    --clr-gradient-1: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.84) 100%
    );

    /* font-sizes */
    --fs-200: 12.5rem;
    --fs-100: 6.25rem;
    --fs-56: 3.5rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --fs-15: 0.9375rem;
    --fs-14: 0.875rem;
    --fs-13: 0.8125rem;
    --fs-12: 0.75rem;
    --fs-10: 0.625rem;
    --fs-9: 0.5625rem;

    /* font-families */
    --ff-libre-baskerville: 'Libre Baskerville', serif;

    /* spacing */
    --space-0: 0;
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-1000: 5rem;
    --space-1200: 6rem;

    /* line-height */
    --lh-100: 100%;
    --lh-115: 115%;
    --lh-120: 120%;
    --lh-125: 125%;
    --lh-135: 135%;
    --lh-200: 200%;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* set up the body */
body {
    font-family: var(--ff-libre-baskerville);
    color: hsl(var(--clr-black));
    min-height: 100vh;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.d-block {
    display: block;
}

.container {
    margin-inline: auto;
    max-width: 90rem;
}

.sr-only {
    position: absolute;
    width: 1rem;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-black));
    padding: 0.5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

/* colors */
.text-dark {
    color: hsl(var(--clr-dark));
}
.text-accent {
    color: hsl(var(--clr-light));
}
.text-white {
    color: hsl(var(--clr-white));
}

.text-grey-100 {
    color: hsl(var(--clr-grey-100));
}

.text-grey-400 {
    color: hsl(var(--clr-grey-400));
}

/* typography */

.ff-serif {
    font-family: var(--ff-libre-baskerville);
}

.fs-9 {
    font-size: var(--fs-9);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fw-700 {
    font-weight: 700;
}

.lh-125 {
    line-height: var(--lh-125);
}

.lh-135 {
    line-height: var(--lh-135);
}

.lh-200 {
    line-height: var(--lh-200);
}

.ls-1 {
    letter-spacing: -0.0125rem; /*-0.2px*/
}
.ls-2 {
    letter-spacing: -0.0156rem; /* -0.25px*/
}
.ls-3 {
    letter-spacing: 0.125rem; /* 2px*/
}
.ls-4 {
    letter-spacing: 0.1563rem; /* 2.5px*/
}

.uppercase {
    text-transform: uppercase;
}

.text-preset-1 {
    font-size: var(--fs-100);
    line-height: var(--lh-100);
}

.text-preset-2 {
    font-size: var(--fs-24);
    line-height: var(--lh-125);
}

.text-preset-3 {
    font-size: var(--fs-14);
    line-height: var(--lh-200);
    letter-spacing: -0.0156rem;
}

.text-preset-5 {
    font-size: var(--fs-10);
    line-height: var(--lh-120);
}

@media (min-width: 35em) {
    .text-preset-1 {
        font-size: var(--fs-200);
        line-height: var(--lh-115);
        letter-spacing: -0.0125rem;
    }

    .text-preset-2 {
        font-size: var(--fs-56);
        line-height: var(--lh-115);
    }

    .text-preset-3 {
        font-size: var(--fs-18);
        line-height: var(--lh-125);
        letter-spacing: normal;
    }

    .text-preset-5 {
        font-size: var(--fs-13);
        line-height: var(--lh-125);
    }
}

/* ------------------- */
/* Components          */
/* ------------------- */

.logo {
    width: 7.065rem;
    height: 2rem;
}

.slide-show-btn {
    border: 0;
    background: none;
    color: hsl(var(--clr-grey-400));
    cursor: pointer;
    font-weight: 700;
    font-size: var(--fs-9);
    letter-spacing: 0.125rem;
    line-height: var(--lh-125);
}

.slide-show-btn:hover {
    color: hsl(var(--clr-black));
}

@media (min-width: 35em) {
    .logo {
        width: 10.5975rem;
        height: 3rem;
    }

    .slide-show-btn {
        font-size: var(--fs-12);
        letter-spacing: 0.1563rem;
    }
}

/* General */

.header {
    border-bottom: 0.0625rem solid hsl(var(--clr-grey-150));
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--space-200);
    padding-block: var(--space-300);
}

/* Details Page */
.details-container {
    position: relative;
}

.details-wrapper {
    flex-direction: column;
    row-gap: 4rem;
    margin-inline: var(--space-300);
    margin-top: var(--space-300);
    position: relative;
}

.gallery-wrapper {
    position: relative;
}

.gallery-wrapper .hero-wrapper {
    position: relative;
    margin-bottom: var(--space-400);
}

.hero-wrapper .hero-img {
    height: 17.5rem;
    width: 100%;
}

.view-image-btn {
    background-color: hsl(var(--clr-black));
    border: 0;
    cursor: pointer;
    padding: 14px var(--space-200);
    column-gap: var(--space-200);
    position: absolute;
    top: var(--space-200);
    left: var(--space-200);
}

.view-image-btn:hover {
    background-color: hsl(var(--clr-white) / 0.2522);
}

.artist-details-wrapper {
    position: absolute;
    bottom: -27%;
    width: 100%;
}

.artist-details {
    position: relative;
    width: 85%;
    height: 100%;
}

.artist-details .artist-info {
    background-color: hsl(var(--clr-white));
    padding: var(--space-300);
    flex-direction: column;
    gap: var(--space-100);
}

.artist-details .artist-img {
    width: 4rem;
    height: 4rem;
    margin-left: var(--space-200);
}

.details-copy {
    position: relative;
    min-height: 32rem;
}

.details-copy .year {
    text-align: right;
}

.details-copy .desc-source-wrapper {
    flex-direction: column;
    row-gap: var(--space-800);
    position: absolute;
    top: var(--space-800);
}

.details-copy .desc-source-wrapper .source {
    text-decoration: none;
}

/* Slideshow controller */

.slideshow-controller-wrapper {
    clear: both;
    margin-top: var(--space-500);
}

.slideshow-progress-indicator {
    border: 1px solid hsl(var(--clr-grey-150));
}

.slideshow-controller-wrapper .slide-info {
    align-items: center;
    justify-content: space-between;
    padding-block: var(--space-200);
    padding-inline: var(--space-300);
}

.slideshow-controller-wrapper .slide-info .art-info {
    flex-direction: column;
}

.slideshow-controller-wrapper .slide-info .slideshow-btns {
    border: 0;
    background-color: none;
    column-gap: var(--space-300);
}

.slideshow-controller-wrapper .slide-info .slideshow-btns > button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.slideshow-controller-wrapper .slide-info .slideshow-btns > button:hover svg g {
    stroke: hsl(var(--clr-grey-200));
}

/* ------------- */
/* Media Queries */
/* ------------- */

/* Tablet */

@media (min-width: 35em) {
    .details-wrapper {
        flex-direction: column !important;
        margin-top: var(--space-500);
    }

    .view-image-btn {
        top: unset;
        bottom: var(--space-200);
        left: var(--space-200);
    }

    .hero-wrapper .hero-img {
        height: 35rem;
        width: 29.6875rem;
    }

    .artist-details-wrapper {
        bottom: unset;
        top: 0;
        right: 0;
        width: 66%;
    }

    .artist-details {
        float: end;
        width: 100%;
    }

    .artist-details .artist-info {
        padding: 0 0 var(--space-800) var(--space-800);
        gap: var(--space-300);
    }

    .artist-details .artist-info .art-name {
        width: min-content;
    }

    .artist-details .artist-img {
        width: 8rem;
        height: 8rem;
        position: absolute;
        right: 0;
    }

    .details-copy .year {
        text-align: left;
    }

    .details-copy .desc-source-wrapper {
        row-gap: var(--space-500);
        justify-self: center;
        width: 71%;
    }

    .slideshow-controller-wrapper {
        margin-top: var(--space-700);
    }

    .slideshow-controller-wrapper .slide-info {
        justify-content: space-between;
        padding-block: var(--space-300);
        padding-inline: var(--space-500);
    }

    .slideshow-controller-wrapper .slide-info .art-info {
        row-gap: var(--space-100);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
}

/* Desktop */
@media (min-width: 45em) {
    .header {
        margin-inline: 2em;
        padding-block: var(--space-500);
    }

    .details-wrapper {
        flex-direction: row !important;
        column-gap: 2.25rem;
        margin-top: var(--space-1200);
    }

    .gallery-wrapper {
        flex: 2;
    }

    .artist-details-wrapper {
        height: 100%;
    }

    .artist-details .artist-info {
        justify-self: center;
        margin-left: var(--space-800);
    }

    .artist-details .artist-img {
        bottom: -2rem;
        left: 15rem;
    }

    .details-copy {
        flex: 1;
    }

    .details-copy .desc-source-wrapper {
        top: 6.875rem;
        row-gap: 6.8125rem;
        justify-self: start;
    }

    .slideshow-controller-wrapper {
        margin-top: var(--space-1000);
    }
}
